# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [33]:
!pip install pandas yfinance

Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (2.0.3)
Collecting yfinance
  Obtaining dependency information for yfinance from https://files.pythonhosted.org/packages/7d/76/31fb9c58398f4cbdde4a0831d0407a1ca987fe828c7da9ce80969014a5a1/yfinance-0.2.40-py2.py3-none-any.whl.metadata
  Downloading yfinance-0.2.40-py2.py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in d:\anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in d:\anaconda\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: requests>=2.31 in d:\anaconda\lib\site-packages (from yfinance) (2.31.0)
Collecting multitasking>=0.0.7 (from yfinance)
  Obtaining dependency information for multitasking>=0.0.7 from https://files.pythonhosted.org/packages/3e/8a/bb3160e76e844db9e69a413f055818969c8acade64e1a9ac5ce9dfdcf6c1/multitasking-0.0.11-py3-none-any.whl.metadata
  Downloading multitasking-0.0.11-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: lxml>=4.9.1 in d:\anaconda\lib\site-packages (from yfinance) (4.9.3)
Requirement already satisfied: platformdirs>=2.0.0 in d:\anaconda\lib\site-packages (from yfinance) (3.10.0)
Collecting frozendict>=2.3.4 (from yfinance)
  Obtaining dependency information for frozendict>=2.3.4 from https://files.pythonhosted.org/packages/6a/71/3656c00606e75e81f11721e6a1c973c3e03da8c7d8b665d20f78245384c6/frozendict-2.4.4-py311-none-any.whl.metadata
  Downloading frozendict-2.4.4-py311-none-any.whl.metadata (23 kB)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.17.5.tar.gz (3.0 MB)
     ---------------------------------------- 0.0/3.0 MB ? eta -:--:--
      --------------------------------------- 0.0/3.0 MB 960.0 kB/s eta 0:00:04
     -- ------------------------------------- 0.2/3.0 MB 2.6 MB/s eta 0:00:02
     ----- ---------------------------------- 0.4/3.0 MB 4.0 MB/s eta 0:00:01
     -------- ------------------------------- 0.6/3.0 MB 4.2 MB/s eta 0:00:01
     ------------- -------------------------- 1.0/3.0 MB 5.1 MB/s eta 0:00:01
     ------------------ --------------------- 1.3/3.0 MB 5.7 MB/s eta 0:00:01
     ----------------------- ---------------- 1.7/3.0 MB 5.7 MB/s eta 0:00:01
     ---------------------------- ----------- 2.1/3.0 MB 6.1 MB/s eta 0:00:01
     --------------------------------- ------ 2.5/3.0 MB 6.4 MB/s eta 0:00:01
     ---------------------------------------  2.9/3.0 MB 6.6 MB/s eta 0:00:01
     ---------------------------------------- 3.0/3.0 MB 6.5 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: beautifulsoup4>=4.11.1 in d:\anaconda\lib\site-packages (from yfinance) (4.12.2)
Collecting html5lib>=1.1 (from yfinance)
  Obtaining dependency information for html5lib>=1.1 from https://files.pythonhosted.org/packages/6c/dd/a834df6482147d48e225a49515aabc28974ad5a4ca3215c18a882565b028/html5lib-1.1-py2.py3-none-any.whl.metadata
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in d:\anaconda\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in d:\anaconda\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\anaconda\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in d:\anaconda\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\anaconda\lib\site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests>=2.31->yfinance) (2023.11.17)
Downloading yfinance-0.2.40-py2.py3-none-any.whl (73 kB)
   ---------------------------------------- 0.0/73.5 kB ? eta -:--:--
   ---------------------------------------- 73.5/73.5 kB ? eta 0:00:00
Downloading frozendict-2.4.4-py311-none-any.whl (16 kB)
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
   ---------------------------------------- 0.0/112.2 kB ? eta -:--:--
   ---------------------------------------- 112.2/112.2 kB 6.4 MB/s eta 0:00:00
Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml): started
  Building wheel for peewee (pyproject.toml): finished with status 'done'
  Created wheel for peewee: filename=peewee-3.17.5-py3-none-any.whl size=138681 sha256=e9e32da4f9260417cc17736f77cc1f57611ead053f0d5d9387d9df4d17a34a86
  Stored in directory: c:\users\x1 gen6\appdata\local\pip\cache\wheels\d2\cb\9c\c300d7bf782e07f1658c306743d5e30af7e4834001e4064a96
Successfully built peewee
Installing collected packages: peewee, multitasking, html5lib, frozendict, yfinance
Successfully installed frozendict-2.4.4 html5lib-1.1 multitasking-0.0.11 peewee-3.17.5 yfinance-0.2.40

In [19]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np
import pandas_datareader.data as web
from datetime import datetime

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

In [45]:
start_date = '2015/01/01'
end_date = datetime.today().strftime('%Y/%m/%d')

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

In [46]:
import yfinance as yf
import pandas as pd
from datetime import datetime

start_date = '2015-01-01'
end_date = datetime.today().strftime('%Y-%m-%d')

df_apple = yf.download('AAPL', start=start_date, end=end_date)

print(df_apple)

[*********************100%%**********************]  1 of 1 completed

                  Open        High         Low       Close   Adj Close  \
Date
2015-01-02   27.847500   27.860001   26.837500   27.332500   24.402174
2015-01-05   27.072500   27.162500   26.352501   26.562500   23.714722
2015-01-06   26.635000   26.857500   26.157499   26.565001   23.716953
2015-01-07   26.799999   27.049999   26.674999   26.937500   24.049517
2015-01-08   27.307501   28.037500   27.174999   27.972500   24.973557
...                ...         ...         ...         ...         ...
2024-05-20  189.330002  191.919998  189.009995  191.039993  191.039993
2024-05-21  191.089996  192.729996  190.919998  192.350006  192.350006
2024-05-22  192.270004  192.820007  190.270004  190.899994  190.899994
2024-05-23  190.979996  191.000000  186.630005  186.880005  186.880005
2024-05-24  188.820007  190.580002  188.039993  189.979996  189.979996

               Volume
Date
2015-01-02  212818400
2015-01-05  257142000
2015-01-06  263188400
2015-01-07  160423600
2015-01-08  237458000
...               ...
2024-05-20   44361300
2024-05-21   42309400
2024-05-22   34648500
2024-05-23   51005900
2024-05-24   36294600

[2365 rows x 6 columns]

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

In [47]:
df_apple['stock'] = 'AAPL'
df_apple.head()

,Open,High,Low,Close,Adj Close,Volume,stock
Date,,,,,,,
2015-01-02,27.847500,27.860001,26.837500,27.332500,24.402174,212818400,AAPL
2015-01-05,27.072500,27.162500,26.352501,26.562500,23.714722,257142000,AAPL
2015-01-06,26.635000,26.857500,26.157499,26.565001,23.716953,263188400,AAPL
2015-01-07,26.799999,27.049999,26.674999,26.937500,24.049517,160423600,AAPL
2015-01-08,27.307501,28.037500,27.174999,27.972500,24.973557,237458000,AAPL

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

In [48]:
df_tsla = yf.download('TSLA', start=start_date, end=end_date)
df_ibm = yf.download('IBM', start=start_date, end=end_date)
df_msft = yf.download('MSFT', start=start_date, end=end_date)

df_tsla['stock'] = 'TSLA'
df_ibm['stock'] = 'IBM'
df_msft['stock'] = 'MSFT'

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

In [49]:
df = pd.concat([df_apple,df_tsla,df_ibm,df_msft])

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

In [50]:
df['Date'] = df.index
df_stock = df.set_index(['Date','stock'],drop=True)
df_stock

,,Open,High,Low,Close,Adj Close,Volume
Date,stock,,,,,,
2015-01-02,AAPL,27.847500,27.860001,26.837500,27.332500,24.402174,212818400
2015-01-05,AAPL,27.072500,27.162500,26.352501,26.562500,23.714722,257142000
2015-01-06,AAPL,26.635000,26.857500,26.157499,26.565001,23.716953,263188400
2015-01-07,AAPL,26.799999,27.049999,26.674999,26.937500,24.049517,160423600
2015-01-08,AAPL,27.307501,28.037500,27.174999,27.972500,24.973557,237458000
...,...,...,...,...,...,...,...
2024-05-20,MSFT,420.209991,426.769989,419.989990,425.339996,425.339996,16272100
2024-05-21,MSFT,426.829987,432.970001,424.850006,429.040009,429.040009,21453300
2024-05-22,MSFT,430.089996,432.410004,427.130005,430.519989,430.519989,18073700
2024-05-23,MSFT,432.970001,433.600006,425.420013,427.000000,427.000000,17211700
2024-05-24,MSFT,427.190002,431.059998,424.410004,430.160004,430.160004,11845800

### Step 7. Create a dataFrame called vol, with the volume values.

In [51]:
vol = df['Volume']
vol

Date
2015-01-02    212818400
2015-01-05    257142000
2015-01-06    263188400
2015-01-07    160423600
2015-01-08    237458000
                ...
2024-05-20     16272100
2024-05-21     21453300
2024-05-22     18073700
2024-05-23     17211700
2024-05-24     11845800
Name: Volume, Length: 9460, dtype: int64

### Step 8. Aggregate the data of volume to weekly.
Hint: Be careful to not sum data from the same week of 2015 and other years.

In [52]:
weekly_volume = df['Volume'].resample('W').sum()
print(weekly_volume)

Date
2015-01-04     317977973
2015-01-11    1658058184
2015-01-18    1860312351
2015-01-25    1208158162
2015-02-01    2571403289
                 ...
2024-04-28    1054063800
2024-05-05    1199893100
2024-05-12     772979000
2024-05-19     760918500
2024-05-26     714648600
Freq: W-SUN, Name: Volume, Length: 491, dtype: int64

### Step 9. Find all the volume traded in the year of 2015

In [55]:
vol.loc["2015"].sum()

78803361900

In [61]:
df_2015 = df.loc['2015-01-02':'2015-12-31']

total_volume_2015 = df_2015['Volume'].sum()
print(total_volume_2015)

78803361900