Bài 1

In [ ]:
def bai1(d):
  arr = sorted(d.keys())
  for i in arr:
    value = d[i]
    print(value)

d = {
    0: "zero",
    2: "two",
    3: "three",
    1: "one",
    5: "five",
    4: "four",
    7: "seven",
    6: "six",
    8: "eight",
    9: "nine",
}

bai1(d)

zero
one
two
three
four
five
six
seven
eight
nine

Bài 2

In [ ]:
def in_value_khac_nhau(d):
  tap_value_da_in = set()

  for value in d.values():
    if value not in tap_value_da_in:
      print(value)

      tap_value_da_in.add(value)

d = {
    "a": 1,
    "b": 2,
    "c": 3,
    "d": 1,
    "e": 4,
}

in_value_khac_nhau(d)

1
2
3
4

Bài 3

In [ ]:
def in_3_value_lon_nhat(d):
  ba_value_lon_nhat = sorted(d.values(), reverse=True)[:3]

  print("3 giá trị value lớn nhất:")
  for value in ba_value_lon_nhat:
    print(value)

d = {
    "a": 10,
    "b": 20,
    "c": 30,
    "d": 40,
    "e": 50,
}

in_3_value_lon_nhat(d)

3 giá trị value lớn nhất:
50
40
30

Bài 4

In [ ]:
def bai4(s):
  d = {}
  for i in s:
    if i not in d:
      d[i] = 0
    d[i] += 1
  return d

s = "dai hoc thuy loi"

print(bai4(s))

{'d': 1, 'a': 1, 'i': 2, ' ': 3, 'h': 2, 'o': 2, 'c': 1, 't': 1, 'u': 1, 'y': 1, 'l': 1}

Bài 5

In [ ]:
def bai5(prices, stock):
  list_keys = list(prices.keys())
  list_tong = []
  for i in list_keys:
    stock_quantity = stock.get(i, 0)
    price = prices[i] * stock_quantity
    list_tong.append(price)
  arr = sorted(zip(list_keys, list_tong), key = lambda x : x[1], reverse=True)
  return arr

prices = {"banana": 4, "apple": 2, "orange": 1.5, "pear": 3}
stock = {"banana": 6, "orange": 32, "pear": 15}

print(bai5(prices, stock))

[('orange', 48.0), ('pear', 45), ('banana', 24), ('apple', 0)]

Bài 6

In [ ]:
import math
import random
def bai6():
  precipitation_data = {}
  months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

  for year in range(2000, 2020):
      for month_index, month in enumerate(months):
          precipitation_data.setdefault(month, []).append(random.randint(100, 4000))

  for month, precipitation_values in precipitation_data.items():
      average_precipitation = sum(precipitation_values) / len(precipitation_values)
      precipitation_data[month] = average_precipitation
  return precipitation_data

print(bai6())

{'January': 1376.0, 'February': 1873.2, 'March': 2129.75, 'April': 1841.7, 'May': 1826.1, 'June': 2121.6, 'July': 2083.15, 'August': 1925.65, 'September': 2184.95, 'October': 2169.35, 'November': 2022.1, 'December': 1823.35}

Bài 1 Try Except

In [ ]:
def main():
  try:
    a = int(input("Nhập số nguyên a: "))

    b = int(input("Nhập số nguyên b: "))

    phan_so = a / b

    print("Giá trị phân số a/b là:", phan_so)
  except ValueError:
    print("Lỗi: Vui lòng nhập số nguyên!")
  except ZeroDivisionError:
    print("Lỗi: Không thể chia cho 0!")

if __name__ == "__main__":
  main()

Nhập số nguyên a: 1
Nhập số nguyên b: 0
Lỗi: Không thể chia cho 0!

In [ ]:
def check_triangle(a, b, c):
    if not isinstance(a, (int, float)) or not isinstance(b, (int, float)) or not isinstance(c, (int, float)):
        raise TypeError("All values must be numbers.")

    if any(value <= 0 for value in (a, b, c)):
        raise ValueError("All values must be positive.")

    if a + b <= c or a + c <= b or b + c <= a:
        return False

    return True

def main():
    try:
        a = float(input("Enter length of side a: "))
        b = float(input("Enter length of side b: "))
        c = float(input("Enter length of side c: "))

        if check_triangle(a, b, c):
            print("The given values can form a triangle.")
        else:
            print("The given values cannot form a triangle.")
    except ValueError as e:
        print(f"Error: {e}")
    except TypeError as e:
        print(f"Error: {e}")

if __name__ == "__main__":
    main()

Enter length of side a: 1
Enter length of side b: 1
Enter length of side c: 1
The given values can form a triangle.

In [ ]:
1