# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [16]:
import numpy as np
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars1.csv) and [cars2](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars2.csv).

In [17]:
url_cars1 = "https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars1.csv"
url_cars2 = "https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars2.csv"

   ### Step 3. Assign each to a variable called cars1 and cars2

In [18]:
cars1 = pd.read_csv(url_cars1, sep=",")
cars2 = pd.read_csv(url_cars2, sep=",")

In [19]:
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

In [20]:
cars2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [21]:
cars1 = cars1.loc[:, "mpg": "car"]

### Step 5. What is the number of observations in each dataset?

In [22]:
cars1.shape

(198, 9)

In [23]:
cars2.shape

(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [24]:
cars = pd.concat([cars1, cars2], axis=0)

In [25]:
cars.shape

(398, 9)

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [28]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([36884, 61088, 68925, 29749, 60305, 70643, 51249, 72260, 39753,
       52367, 55729, 19352, 48678, 25226, 30996, 62816, 68840, 16249,
       22603, 64455, 26749, 39104, 48592, 26192, 41603, 35869, 35901,
       62865, 72397, 38643, 66147, 32775, 42077, 40967, 53199, 40799,
       43709, 50180, 36403, 68408, 43789, 70426, 52392, 31647, 28729,
       33460, 72976, 63301, 50080, 30687, 62815, 34883, 42827, 65651,
       51284, 54088, 28334, 41012, 23759, 27764, 66086, 27213, 17604,
       46823, 32364, 15902, 52476, 48641, 30676, 54130, 47636, 32260,
       34180, 69339, 48267, 38522, 50577, 31010, 25220, 52728, 43217,
       43045, 40696, 35930, 30770, 27217, 64992, 61949, 66009, 65130,
       32006, 52422, 42873, 47152, 28234, 50969, 45895, 53386, 63219,
       58183, 38329, 19620, 19196, 54698, 19357, 55042, 65472, 58262,
       44717, 27670, 57389, 40153, 24094, 41959, 46440, 24934, 55599,
       36506, 53052, 65487, 43610, 54301, 55500, 25125, 39681, 47726,
       27518, 34197, 33121, 55828, 60060, 44175, 25100, 48520, 62866,
       68475, 37175, 72311, 42844, 23907, 26878, 34945, 29198, 48336,
       29355, 34196, 67222, 41166, 42974, 24444, 55935, 72684, 65321,
       44488, 37109, 72840, 18892, 18830, 71765, 62079, 19590, 32152,
       42352, 25451, 43092, 42215, 45099, 44815, 55527, 56912, 72091,
       47046, 61321, 49237, 46481, 63600, 65074, 33159, 36331, 59745,
       36040, 26122, 50254, 31151, 34784, 24044, 21024, 63901, 42197,
       47741, 66510, 24085, 51485, 25431, 59062, 45252, 15039, 59014,
       31037, 32188, 65755, 58602, 33897, 55832, 22940, 22054, 48186,
       15866, 15625, 45192, 30739, 67252, 40038, 59691, 62435, 21686,
       43426, 70777, 55659, 56126, 34718, 23145, 50188, 23031, 47850,
       58871, 64916, 47282, 35783, 60478, 44421, 33661, 30871, 72724,
       65128, 63194, 44241, 65668, 31861, 20047, 57403, 40888, 63859,
       15412, 45030, 33201, 43682, 15157, 21876, 51661, 31478, 50629,
       15664, 57013, 50471, 72505, 31760, 48138, 45675, 18368, 56293,
       30020, 52907, 67617, 67946, 25035, 32039, 52412, 70944, 41000,
       33706, 67059, 69353, 26324, 58271, 25838, 35823, 44729, 47011,
       24983, 58703, 19672, 22066, 34797, 69455, 34018, 25587, 42171,
       63205, 64974, 43478, 67545, 52139, 22101, 60662, 53513, 26795,
       70686, 46849, 62290, 23310, 67304, 70585, 72843, 39947, 31628,
       35144, 41247, 21204, 61478, 43630, 62844, 24939, 67075, 34831,
       23019, 26816, 28279, 30636, 54029, 71558, 28498, 46314, 40038,
       44530, 19170, 71450, 52061, 47183, 53188, 38154, 61284, 17658,
       15364, 32724, 47914, 23386, 68021, 27812, 17210, 54823, 31555,
       16306, 59136, 37679, 36097, 46227, 64959, 39144, 30973, 69352,
       43896, 34148, 39138, 28016, 42180, 71635, 54054, 17727, 30924,
       69173, 39996, 58079, 67302, 28838, 43885, 28021, 29782, 58065,
       16333, 54317, 49700, 36901, 28648, 22506, 67280, 21531, 21836,
       31245, 61245, 52780, 56966, 29316, 35035, 16834, 48985, 49966,
       63284, 65988, 52930, 70416, 50089, 66842, 53396, 55174, 34849,
       64497, 29325])

### Step 8. Add the column owners to cars

In [29]:
cars['owners'] = nr_owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,53396
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,55174
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,34849
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,64497
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,29325