# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [43]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [44]:
data1 = pd.Series(np.random.randint(1, high=5, size=100, dtype="l"))
data2 = pd.Series(np.random.randint(1, high=4, size=100, dtype="l"))
data3 = pd.Series(np.random.randint(10000, high=30001, size=100, dtype="l"))

In [45]:
print(data1)

0     2
1     1
2     2
3     4
4     1
     ..
95    1
96    1
97    4
98    2
99    4
Length: 100, dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [46]:
data = pd.concat([data1, data2, data3], axis=1)

In [47]:
data.head()

   0  1      2
0  2  1  20271
1  1  1  24175
2  2  3  14830
3  4  3  22353
4  1  2  28558

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [48]:
data.rename(columns = {0: 'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'}, inplace=True)
data.head()

   bedrs  bathrs  price_sqr_meter
0      2       1            20271
1      1       1            24175
2      2       3            14830
3      4       3            22353
4      1       2            28558

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [50]:
bigcolumn = pd.concat([data1, data2, data3], axis=0)
bigcolumn.to_frame

<bound method Series.to_frame of 0         2
1         1
2         2
3         4
4         1
      ...
95    27394
96    10875
97    18942
98    29945
99    29128
Length: 300, dtype: int32>

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [51]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [54]:
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn

0          2
1          1
2          2
3          4
4          1
       ...
295    27394
296    10875
297    18942
298    29945
299    29128
Length: 300, dtype: int32